html, body {
    height:100%;
    font-family:sans-serif;    
}

header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

h1 {
    padding: 5px;
    margin: 10px;
}

section {
    display: flex;
    padding: 10px;
}

.bio {
    display: flex;
    background-color: #ffccaa;
    justify-content:center;
}

.hannahBioImage {
    width: 35%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hannahBioText {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hannahBioP {
    width: 80%;
}

.largeImage {
    width: 100%;
    max-width: 450px;
    min-width: 200px;
    margin: 10px;
}
.rowTitle {
    align-self: center;
    margin-right: auto;
    width: auto;
    font-family: 'Abril Fatface';
    font-size:x-large;
}

.squareImageSection {
    display: flex;
    justify-content:flex-end;
    flex-wrap: wrap;
    margin: 50px 100px;
}

.squareImage {
    width: 300px;
    margin: 20px;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.squareImage:hover {
    opacity: 0.7;  
}

footer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.linkImage {
    width: 40px;
    margin: 20px;
}

.modalSection {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modalWindow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.modalLargeImage {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#modalFullImageName {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.modalLargeImage, #modalFullImageName {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.modalClose {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .modalLargeImage {
        width: 100%;
    }
}
